.fab-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fab-btn {
  padding: 8px 15px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  background: #0084ff;
  color: white;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}

.fab-btn:hover {
  background: #006ad1;
}
