.container {
  max-width: 1000px;
  margin: 5px;
  padding: 5px;
  font-family: "Poppins", sans-serif;
}

h2 {
  text-align: center;
  margin: 0px 0px 12px;
  font-weight: 600;
  color: #1e293b;
}
.exam-layout{
display:flex;
gap:10px;
align-items:flex-start;
}

.exam-main{
flex:1;
}

.exam-sidebar{
position:sticky;
top:20px;
}
@media(max-width:900px){

.exam-layout{
flex-direction:column;
}

.exam-sidebar{
position:static;
width:100%;
}

.palette{
width:100%;
}

}