.domain-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 5px;
}

.domain-list li button {
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #1e90ff;
  background: #fff;
  color: #1e90ff;
  cursor: pointer;
  font-weight: 600;
  min-width: 200px;
}

.domain-list li button:hover {
  background: #1e90ff;
  color: #fff;
}