

  /* .message {
  display: flex;
  flex-direction: column;
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
  word-break: break-word;
  border-radius: 10px;
  line-height: 1.6;
  color: #ff3e3e;
  align-items: center;
  font-weight: bolder;
} */

.message {
  
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  line-height: 1.6;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #1e1e2f;
  color: #f8f8f2;
  max-width: 90%;
  overflow-x: auto;
}

.message.user {
  background-color: #e9e9e980;
  color: black;
  border-top-right-radius: 0;
  border-radius: 12px 12px 12px 0;
  width: fit-content;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;         /* Ensures it's aligned fully to right */
  max-width: 80%;
  padding: 10px;

}

.message.bot {
  background-color: #f1f1f1;
  color: #000000;
  align-self: flex-start;
  border-top-left-radius: 0;
  border-radius: 12px 12px 0 12px;
  max-width: 80%;
  text-align: left;
  width: fit-content;
  padding: 10px;
}
  /* Input area */
  
  

  .stop-button {
    padding: 1rem 1.2rem;
    background-color: #ff3e3e;
    color: white;
    font-weight: bold;
    border: none;
    border-top-right-radius: 10px;
    cursor: pointer;
  }
  
  .stop-button:hover {
    background-color: #ff5f5f;
  }
  
  /* Copy Button */
  .copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: #44475a;
    color: #f8f8f2;
    border: none;
    padding: 5px 10px;
    font-size: 0.8rem;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
  }
  
  .copy-button:hover {
    opacity: 1;
    background-color: #6272a4;
  }
  
  /* Text styling inside message */
  .message-text {
    margin: 0.4rem 0;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    
  
  }
  
  /* Lists inside messages */
  .message-list ul {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
  }
  
  .message-list li {
    list-style-type: disc;

    margin-bottom: 0.4rem;
  }
  
  /* Headings & bold */
  strong {
    font-weight: bold;
  }
     /* Code block styling */
     .code-container {
      position: relative;
      background-color: #282c34;
      border-radius: 8px;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      overflow: auto;
    }
    
    .code-container pre {
      margin: 0;
      padding: 2rem;
      font-size: 0.9rem;
      font-family: 'Fira Code', monospace;
      color: #090909;
      background-color:#ffffff;
    }
    
    code {
      background-color: #b0b0b0;
      padding: 2px 6px;
      border-radius: 4px;
      font-size: 0.95em;
      color: #000 !important;
    }
       /* Code block styling finish here  */

  @media (max-width: 600px) {
  
    .message.user,
    .message.bot {
      width: auto;
      max-width: 90%;
      width: fit-content;

    }

  
  }
  